@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Esse eh um teste de branch, te amo luana mais que tudo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: 5;
    padding: 5;

}

body {
    background: radial-gradient(circle, #FFA1A1, #FFA1A1, #e09451, #FFA1A1);
    font-family: "Poppins", serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 100%;
    min-height: 100%;
    overflow-x: hidden;
}

header {
    margin-top: 4.2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.container1,
.container2,
.container3 {
    height: 25px;
    border-radius: 2vh;
    border: 1.5px solid black;
}

.container1 {
    width: 95%;
    background-color: #FFA75B;
}

.container2 {
    width: 89%;
    background-color: #FFA1A1;
}

.container3 {
    width: 81%;
    background-color: #D9FFFC;
}

.home {
    background: linear-gradient(to bottom right, #FFA1A1, #00D8C6, #FFA1A1, #00D8C6, #FFA1A1, #00beaf, #FFA1A1, #00beaf, #D9FFFC);
    animation: animacaoHome 8s ease infinite;
    background-size: 400% 400%;
    width: 19vh;
    height: 19vh;
    text-align: center;
    font-size: 160%;
    justify-content: center;
    align-content: center;
    border-radius: 50%;
    border: 1.5px solid black;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    z-index: 1;
}

a:visited {
    color: black;
}

.home:hover {
    transform: scale(1.1);
    cursor: pointer;
}

a {
    text-decoration: none;
}

.navbar a {
    color: black;

}

@keyframes animacaoHome {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.navegador {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 60px;
    width: 100%;
    margin-top: 65px;
}

.navbar {
    display: flex;
    background-color: #D9FFFC;
    border-radius: 10vh;
    border: 1.5px solid black;
    width: 13%;
    height: 6vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0 20px;
    position: relative;
}

.navbar:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: #FFA75B;
}

main {
    width: 100%;
    padding: 2vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 40px;
    margin-bottom: 4.5vh;
}
aside {
    flex-direction: row;
}

section {
    width: 45%;
    padding: 1.5vh;
    border-radius: 20px;
    border: 1.5px solid black;
    background-color: #D9FFFC;
    display: flex;
    flex-direction: row;
    margin-top: -2vh;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

main section aside p {
    padding: 1.9vh;
    font-weight: normal;
    font-size: 2vh;
}

h2 {
    padding: 0px 4px;
    margin-bottom: 1vh;
    border-radius: 7px;
    font-size: 3.5vh;
    text-align: center;
    margin-bottom: 2vh;
}
.imagens {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 1.5vh;
}
#img-1-sobre, #img-2-sobre {
    width: 27vh;
    border-radius: 100px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    z-index: 1;
    border: 10px solid #D9FFFC;
}


.sobre-mim {
    display: flex;
    width: 85%;
    justify-content: center;
    align-items: flex-start;
    background-color: #D9FFFC;
    padding: 7vh;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    border: 1px solid black;
    border-radius: 90px;
}

.sobre-mim-esquerda {
    width: 30%;
}
.sobre-mim-direita {
    width: 60%;
}

#img-sobre-mim-3 {
    width: 90%;
    border-radius: 70px;
    border: 10px solid #cafdf8;
    margin-top: 5vh;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    margin-left: -6vh;
}
.sobre-mim p {
    padding: 1.7vh;
    font-weight: normal;
    font-size: 2vh;
}

footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #00d8c6;
    height: 1px;
    padding: 4%;
    flex-direction: column;
}
footer .social-icons {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    flex-wrap: wrap;
}
footer .social-icons li {
    list-style: none;
}
footer .social-icons li a {
    font-size: 2.5em;
    color: #D9FFFC;
    display: inline-block;
    margin: 0 1vh;
    transition: transform 0.3 ease;
}
footer .social-icons li a:hover{
    transform: scale(1.5);
    color: #00D8C6;
}
footer p {
    color: black;
    text-align: center;
    margin: 1vh;
    font-size: 2.1vh;
}
footer .wave {
    position: absolute;
    top: -78px;
    right: 0;
    width: 100%;
    height: 100px;
    background: url(../assets/img/onda1.png);
    background-size: 1000px 100px;
}

/* aqui eu criei 4 ondas sobrepostas com niveis diferentes de opacidade, posicoes diferentes, direçoes de movimento diferente o que traz um efeito mais fluido e realista */

footer .wave#wave1 {
    z-index: 1000;
opacity: 1;
bottom: 0;
animation: animarOnda 4s linear infinite;
}
footer .wave#wave2 {
    z-index: 999;
opacity: 1;
bottom: 0;
animation: animarOnda-02 4s linear infinite;
}
footer .wave#wave3 {
    z-index: 1000;
opacity: 0.2;
bottom: 15px;
animation: animarOnda-02 3s linear infinite;
}
footer .wave#wave4 {
    z-index: 999;
opacity: 0.3;
bottom: 20px;
animation: animarOnda-02 3s linear infinite;
}
@keyframes animarOnda {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-position-x: 0px;
    }
}
@keyframes animarOnda-02 {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 1000px;
    }
}