@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(circle, #FFA1A1, #FFA1A1, #e09451, #FFA1A1);
    font-family: "Inter", serif;

}
#botaohome {
    width: 16%;
    position: absolute;
    margin-left: 93vh;
    margin-top: 2vh;
}
#botaohome:hover {
    transform: scale(1.2);
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.conteudo {
    border-radius: 80px;
    background-image: url(assets/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 54%;
    height: 65%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}
/* aqui eu crio um pseudoelemento que é na verdade o fundo liso que vai rolar pro outro lado */
.conteudo::before {
    content: "";
    position: absolute;
    background-color: #FFA1A1;
    width: 40%;
    height: 100%;
    border-radius: 80px;
    left: 0%;
}

.titulo {
    color: white;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
}

.titulo-criar-conta {
    color: #FFA1A1;
}

.titulo-bem-vindo {
    color: white;
}

.descricao {
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    margin-top: -1vh;
}

.descricao-um {
    color: white;
}

.descricao-dois {
    color: #FFA75B;
    margin-top: 1vh;
}

.descricao-fazer-cadastro {
    margin-top: 2vh;
}

.botao {
    border-radius: 15px;
    color: white;
    line-height: 30px;
    padding: 10px 30px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    text-align: center;
    border: none;
    margin-top: 1rem;
    font-size: 3vh;
}

.botaoLogar {
    background-color: white;
    color: #FFA1A1;
    transition: transform 0.5s ease-in-out;
}

.botaoLogar:hover {
    transform: scale(1.1);
}

.botaoLogarDois {
    background-color: #FFA1A1;
    transition: transform 0.5s ease-in-out;
}

.botaoLogarDois:hover {
    transform: scale(1.1);
}

.botaoCadastrar {
    background-color: #FFA75B;
    border: 1px solid #FFA75B;
    transition: transform 0.5s ease-in-out;
}

.botaoCadastrar:hover {
    transform: scale(1.1);
}

.conteudo-cadastro {
    display: flex;
}
/* define uma ordem de empilhamento ou camadas. o 11 significa que ele está acima de qualquer outro com valor menor */
.conteudo-cadastro .segunda-coluna {
    z-index: 11;
}
/* aqui é a coluna que será sobreposta */
.primeira-coluna {
    text-align: center;
    width: 40%;
    z-index: 10;
}

.segunda-coluna {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.form input {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ffdbbc;
    width: 100%;
    border-radius: 20px;
    text-align: center;
}

.form input::placeholder {
    color: #FFA75B;
    font-weight: bold;
}
/* removo o contorno padrao que fica em volta do input */
input:focus {
    outline: none;
}

.label-input {
    background-color: #ffdbbc;
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    margin: 8px;
    border-radius: 20px;
}

.mudar-icon {
    color: #FFA75B;
    padding: 0 15px;
}




.conteudo-login {
    position: absolute;
    display: flex;
}
/* aqui volto a usar z index pra colocar uma coluna por cima da outra e defino a ordem que ele vai ser exibido*/
.conteudo-login .primeira-coluna {
    order: 2;
    z-index: -1;
}

.conteudo-login .segunda-coluna {
    order: 1;
    z-index: -1;
}

.descricao-x {
    margin-top: -2vh;
}

/* quando a classe é ativada a primeira coluna do cadastro é enviada pra trás */
.sign-in-js .conteudo-cadastro .primeira-coluna {
    z-index: -1;
}
/* e a segunda coluna é trazida pra frente */
.sign-up-js .conteudo-cadastro .segunda-coluna {
    z-index: 11;
}



/* logar: coluna é trazida para frente */
.sign-in-js .conteudo-login .segunda-coluna {
    z-index: 11;
}

.sign-in-js .conteudo-login .primeira-coluna {
    z-index: 13;
}




.sign-in-js .conteudo::before {
    left: 60%;
    animation: slidein 3s;
    z-index: 12;
}
.sign-up-js .conteudo::before {
    animation: slideout 3s;
    z-index: 12;
}


.sign-up-js .conteudo-login .segunda-coluna {
    position: relative;
    z-index: -1;
}
.sign-up-js .conteudo-login .primeira-coluna,
.sign-up-js .conteudo-login .segunda-coluna {
    z-index: -1;
}




.sign-up-js .conteudo-cadastro .primeira-coluna {
    z-index: 13;
}

.sign-in-js .conteudo-cadastro .segunda-coluna {
    z-index: -1;
    position: relative;
}




/* animação que faz o fundo rosa se arrastar pro lado */

@keyframes slidein {
    from {
        left: 0;
        width: 40%;
    }

    to {
        left: 60%;
        width: 40%;
    }
}

@keyframes slideout {
    from {
        left: 60%;
        width: 40%;
    }

    to {
        left: 0%;
        width: 40%;
    }
}
footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #FFA1A1;
    height: 1px;
    padding: 4%;
    flex-direction: column;
}
footer .social-icons {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    flex-wrap: wrap;
}
footer .social-icons li {
    list-style: none;
}
footer .social-icons li a {
    font-size: 2.5em;
    color: #D9FFFC;
    display: inline-block;
    margin: 0 1vh;
    transition: transform 0.3 ease;
}
footer .social-icons li a:hover{
    transform: scale(1.5);
    color: #00D8C6;
}
footer p {
    color: #D9FFFC;
    text-align: center;
    margin: 1vh;
    font-size: 2.1vh;
    font-family: monospace;
    font-weight: bold;
}
footer .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(assets/onda1.png);
    background-size: 1000px 100px;
}
footer .wave#wave1 {
    z-index: 1000;
opacity: 1;
bottom: 0;
animation: animarOnda 4s linear infinite;
}
footer .wave#wave2 {
    z-index: 999;
opacity: 1;
bottom: 0;
animation: animarOnda-02 4s linear infinite;
}
footer .wave#wave3 {
    z-index: 1000;
opacity: 0.2;
bottom: 15px;
animation: animarOnda-02 3s linear infinite;
}
footer .wave#wave4 {
    z-index: 999;
opacity: 0.3;
bottom: 20px;
animation: animarOnda-02 3s linear infinite;
}
@keyframes animarOnda {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-position-x: 0px;
    }
}
@keyframes animarOnda-02 {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 1000px;
    }
}